In [1]:
# Niektóre edycje danych zostały wykonane na numpy array, ponieważ funkcja replace() nie wywoływała się dla Data Frame

In [2]:
import numpy as np
import pandas as pd

pd.options.mode.chained_assignment = None  # default='warn'

Ustawienie ścieżki do folderu Analysis_Data, który zawiera kopię danych do przetworzenia:

In [3]:
# Set path to data
DIR = "../Analysis_Data/"

Tworzenie tytułów kolumn do Data Frame:

In [4]:
columns = ['Id']
for i in range(1, 32):
    columns.append(str(i))
    
# print(columns)

Wczytanie danych do numpy array i edycja otrzymanych danych, aby uzyskać Data Frame:

In [5]:
filename = f"{DIR}weather.txt"
data_original = np.loadtxt(filename, delimiter='\s+', dtype=str)
# print(data_original)

In [6]:
data = []
for i in range (len(data_original)):
    data_original[i] = data_original[i].replace('I-9999', '')
    data_original[i] = data_original[i].replace('S-9999', '')
    data_original[i] = data_original[i].replace(' I ', '')
    data_original[i] = data_original[i].replace(' S ', '')
    data_original[i] = data_original[i].replace(' I', '')
    data_original[i] = data_original[i].replace(' S', '')
    # data_original[i] = data_original[i].replace(' ', ',')
    # print(i)
    
# print(data_original)
    
for i in range (len(data_original)):
    data_original[i].strip()
    data.append(data_original[i].split())

# print(data)

Tworzenie Data Frame zawierającej oryginalne dane po usunięciu niepotrzebnych separatorów:

In [7]:
weather_data = pd.DataFrame(data)
weather_data.drop([32, 33], axis=1, inplace=True)
weather_data.columns = columns
weather_data
# weather_data.columns = columns

,Id,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,MX000017004195504TMAX,310,310,310,320,330,320,320,330,330,...,330,330,330,330,330,330,340,330,320,None
1,MX000017004195504TMIN,150,150,160,150,160,160,160,160,160,...,170,170,170,180,190,190,170,180,160,None
2,MX000017004195504PRCP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,None
3,MX000017004195505TMAX,310,310,310,300,300,300,310,310,310,...,330,340,350,330,310,310,320,310,300,290
4,MX000017004195505TMIN,200,160,160,150,150,150,160,160,170,...,170,190,190,190,180,160,150,170,150,160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1709,MX000017004201103TMIN-9999,-9999,-9999,-9999,148,-9999,-9999,-9999,127,-9999,...,-9999,162,-9999,-9999,-9999,170,None,None,None,None
1710,MX000017004201103PRCP,0,0,0,0,0,0,0,0,0,...,None,None,None,None,None,None,None,None,None,None
1711,MX000017004201104TMAX-9999,350,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,None,None
1712,MX000017004201104TMIN-9999,168,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,None,None
1713,MX000017004201104PRCP,0,0,-9999,0,0,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,None,None

Zapis zedytowanych danych do pliku csv:

In [8]:
weather_data.to_csv(path_or_buf=f"{DIR}weather_data.csv", index=False)

Wybór wierszy zawierających dane z roku 2010:

In [9]:
weather_data_2010 = weather_data[weather_data.Id.str.contains('2010', case=False)]
weather_data_2010.to_csv(path_or_buf=f"{DIR}weather_data_2010.csv", index=False)
# weather_data_2010

Zamiana błędnych danych o wartości -9999 lub pustych danych None na numpy.nan:

In [10]:
weather_data_2010 = weather_data_2010.to_numpy()


for i in range (len(weather_data_2010)):
    for j in range(len(weather_data_2010[i])):
        if weather_data_2010[i][j] == '-9999' or weather_data_2010[i][j] == None:
            weather_data_2010[i][j] = np.nan
            
            
# print(min_values_data)

weather_data_2010 = pd.DataFrame(weather_data_2010)
weather_data_2010.columns = columns
weather_data_2010

,Id,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,MX000017004201001TMAX-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278,NaN,NaN
1,MX000017004201001TMIN-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145,NaN,NaN
2,MX000017004201001PRCP-9999,NaN,NaN,NaN,0,0,NaN,NaN,NaN,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX000017004201002TMAX-9999,273,241,NaN,NaN,NaN,NaN,NaN,NaN,297,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX000017004201002TMIN-9999,144,144,NaN,NaN,NaN,NaN,NaN,NaN,134,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX000017004201002PRCP-9999,0,0,NaN,0,0,0,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX000017004201003TMAX-9999,NaN,NaN,NaN,321,NaN,NaN,NaN,345,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,MX000017004201003TMIN-9999,NaN,NaN,NaN,142,NaN,NaN,NaN,168,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,MX000017004201003PRCP-9999,0,0,0,0,NaN,0,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,MX000017004201004TMAX-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,363,NaN,NaN,NaN,NaN,NaN
10,MX000017004201004TMIN-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,167,NaN,NaN,NaN,NaN,NaN
11,MX000017004201004PRCP,0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
12,MX000017004201005TMAX-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,332,NaN,NaN,NaN,NaN,NaN
13,MX000017004201005TMIN-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,182,NaN,NaN,NaN,NaN,NaN
14,MX000017004201005PRCP-9999,NaN,NaN,0,0,0,NaN,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,MX000017004201006TMAX-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,301,NaN,NaN,NaN,NaN
16,MX000017004201006TMIN-9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,180,NaN,NaN,NaN,NaN
17,MX000017004201006PRCP,0,0,0,0,0,NaN,13,203,0,...,13,18,0,0,0,0,NaN,NaN,NaN,NaN
18,MX000017004201007TMAX-9999,NaN,286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,MX000017004201007TMIN-9999,NaN,175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,MX000017004201007PRCP-9999,NaN,307,0,76,0,NaN,NaN,NaN,NaN,...,0,43,0,112,0,NaN,NaN,NaN,NaN,NaN
21,MX000017004201008TMAX-9999,NaN,NaN,NaN,296,NaN,290,NaN,NaN,NaN,...,NaN,280,254,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,MX000017004201008TMIN-9999,NaN,NaN,NaN,158,NaN,173,NaN,NaN,NaN,...,NaN,153,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,MX000017004201008PRCP-9999,NaN,NaN,NaN,38,5,239,0,180,168,...,64,188,0,0,NaN,NaN,NaN,NaN,NaN,NaN
24,MX000017004201009PRCP,185,56,13,175,0,277,0,345,391,...,147,18,0,0,0,0,0,NaN,NaN,NaN
25,MX000017004201010TMAX-9999,NaN,NaN,NaN,270,281,NaN,NaN,NaN,NaN,...,NaN,NaN,312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,MX000017004201010TMIN-9999,NaN,NaN,NaN,140,129,NaN,NaN,NaN,NaN,...,NaN,NaN,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,MX000017004201010PRCP,0,0,0,0,0,0,0,0,0,...,0,NaN,0,0,0,0,0,0,NaN,NaN
28,MX000017004201011TMAX-9999,313,272,263,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,281,277,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,MX000017004201011TMIN-9999,163,120,79,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,121,142,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,MX000017004201011PRCP,0,0,0,0,0,0,0,0,0,...,0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
31,MX000017004201012TMAX,299,NaN,NaN,NaN,278,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,MX000017004201012TMIN,138,NaN,NaN,NaN,105,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,MX000017004201012PRCP,0,0,0,NaN,0,0,0,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

Rozdział danych i wyznaczenie wartości minimalnej i maksymalnej temperatury w miesiącu oraz średnich opadów:

In [11]:
min_values_data = weather_data_2010[weather_data_2010.Id.str.contains('MIN', case=False)]
max_values_data = weather_data_2010[weather_data_2010.Id.str.contains('MAX', case=False)]
prcp_values_data = weather_data_2010[weather_data_2010.Id.str.contains('PRCP', case=False)]

In [12]:
min_values_data = min_values_data.set_index('Id').transpose()
max_values_data = max_values_data.set_index('Id').transpose()
prcp_values_data = prcp_values_data.set_index('Id').transpose()

In [13]:
for col in min_values_data:
    min_values_data[col] = min_values_data[col].astype('Int64')
    
for col in max_values_data:
    max_values_data[col] = max_values_data[col].astype('Int64')
    
for col in prcp_values_data:
    prcp_values_data[col] = prcp_values_data[col].astype('Int64')

In [14]:
min_values = min_values_data.min(skipna=True)
# min_values

In [15]:
min_values = min_values.to_frame('MIN TEMP').reset_index()
min_values

                            Id  MIN TEMP
0   MX000017004201001TMIN-9999       145
1   MX000017004201002TMIN-9999       107
2   MX000017004201003TMIN-9999       142
3   MX000017004201004TMIN-9999       167
4   MX000017004201005TMIN-9999       182
5   MX000017004201006TMIN-9999       175
6   MX000017004201007TMIN-9999       165
7   MX000017004201008TMIN-9999       150
8   MX000017004201010TMIN-9999       105
9   MX000017004201011TMIN-9999        79
10       MX000017004201012TMIN       105

In [16]:
max_values = max_values_data.min(skipna=True)
# max_values

In [17]:
max_values = max_values.to_frame('MAX TEMP').reset_index()
max_values

                            Id  MAX TEMP
0   MX000017004201001TMAX-9999       278
1   MX000017004201002TMAX-9999       241
2   MX000017004201003TMAX-9999       311
3   MX000017004201004TMAX-9999       363
4   MX000017004201005TMAX-9999       332
5   MX000017004201006TMAX-9999       280
6   MX000017004201007TMAX-9999       286
7   MX000017004201008TMAX-9999       254
8   MX000017004201010TMAX-9999       270
9   MX000017004201011TMAX-9999       263
10       MX000017004201012TMAX       278

In [18]:
prcp_average = prcp_values_data.mean(skipna=True)
# prcp_average

In [19]:
prcp_average = prcp_average.to_frame('AVERAGE PRCP').reset_index()
prcp_average

                            Id  AVERAGE PRCP
0   MX000017004201001PRCP-9999      0.000000
1   MX000017004201002PRCP-9999      0.000000
2   MX000017004201003PRCP-9999      0.000000
3        MX000017004201004PRCP      0.000000
4   MX000017004201005PRCP-9999      2.500000
5        MX000017004201006PRCP     25.040000
6   MX000017004201007PRCP-9999     39.368421
7   MX000017004201008PRCP-9999    104.772727
8        MX000017004201009PRCP     90.571429
9        MX000017004201010PRCP      0.000000
10       MX000017004201011PRCP      0.000000
11       MX000017004201012PRCP      0.000000

Utworzenie bazy zawierającej informacje o minimalnej i maksymalnej temperaturze w miesiącu oraz średnich opadach w roku 2010 w pierwszych pięciu miesiącach:

In [20]:
station_id = []
date = []

for i in range (1, 6):
    if i < 10:
        date.append('2010-0{month}'.format(month = i))
        station_id.append('MMX17004')

In [21]:
min_values_5 = min_values.head(5).drop('Id', axis=1)
max_values_5 = max_values.head(5).drop('Id', axis=1)
prcp_average_5 = prcp_average.head(5).drop('Id', axis=1)

In [22]:
min_values_5.insert(0, 'Date', date, True)
max_values_5.insert(0, 'Date', date, True)
prcp_average_5.insert(0, 'Date', date, True)

In [23]:
weather_data_2010_5_months = min_values_5
weather_data_2010_5_months = weather_data_2010_5_months.join(max_values_5.set_index('Date'), on='Date')
weather_data_2010_5_months = weather_data_2010_5_months.join(prcp_average_5.set_index('Date'), on='Date')
weather_data_2010_5_months.insert(0, 'Id', station_id, True)
weather_data_2010_5_months

         Id     Date  MIN TEMP  MAX TEMP  AVERAGE PRCP
0  MMX17004  2010-01       145       278           0.0
1  MMX17004  2010-02       107       241           0.0
2  MMX17004  2010-03       142       311           0.0
3  MMX17004  2010-04       167       363           0.0
4  MMX17004  2010-05       182       332           2.5

Zapisanie otrzymanej bazy do pliku csv:

In [24]:
weather_data_2010_5_months.to_csv(path_or_buf=f"{DIR}weather_data_2010_5_months.csv", index=False)