In [149]:
import pandas as pd

pd.options.mode.chained_assignment = None  # default='warn'

In [150]:
# Set path to data
DIR = "../Analysis_Data/"

In [151]:
data_original = pd.read_csv(f"{DIR}12_swietokrzyskie.csv")
data_original = data_original.drop(['Unnamed: 0'], axis=1)
data_original

     Dni od zakupu       Marka  Wiek kupującego Płeć kupującego  Ocena
0                7        Beko             33.0               M    3.0
1                7        Beko             55.0             bd.    3.0
2               10        Beko             50.0               M    2.0
3               11       Tefal             36.0               M    2.5
4                3        Beko             62.0               K    2.5
..             ...         ...              ...             ...    ...
461              8        Beko             19.0               M    2.5
462              9  Electrolux             50.0               K    3.0
463              9        Beko              NaN               K    2.0
464              5       Tefal             41.0               M    3.0
465             11        Beko             61.0               M    1.0

[466 rows x 5 columns]

In [152]:
#Dane kupujących

data_client = data_original[["Wiek kupującego", "Płeć kupującego"]]
data_client = data_client.rename(columns={'Płeć kupującego':'Gender', 'Wiek kupującego':'Age'})

data_client.to_csv(path_or_buf=f"{DIR}data_client.csv", index=False)

In [153]:
gender = data_client["Gender"].unique()
print(gender)

['M' 'bd.' 'K']

In [164]:
#Data - woman
client_woman = data_client[data_client.Gender.str.contains('K', case=False)]
client_woman.to_csv(path_or_buf=f"{DIR}client_woman.csv", index=False)

      Age Gender
4    62.0      K
12   50.0      K
14    NaN      K
18   34.0      K
23   42.0      K
..    ...    ...
438  41.0      K
446  53.0      K
458  47.0      K
462  50.0      K
463   NaN      K

[130 rows x 2 columns]

In [155]:
#Data - man
client_man = data_client[data_client.Gender.str.contains('M', case=False)]
client_man.to_csv(path_or_buf=f"{DIR}client_man.csv", index=False)

In [156]:
#Data - no data on gender
client_bd = data_client[data_client.Gender.str.contains('bd', case=False)]
client_bd.to_csv(path_or_buf=f"{DIR}client_bd.csv", index=False)

In [157]:
#Ocena odkurzaczy
data_vacuum = data_original[["Dni od zakupu", "Marka", "Ocena"]]
data_vacuum = data_vacuum.rename(columns={'Dni od zakupu':'Dni_od_zakupu'})

data_vacuum.to_csv(path_or_buf=f"{DIR}data_vacuum.csv", index=False)

In [158]:
#Lista - marki odkurzaczy
vacuum_by = data_vacuum["Marka"].unique()
print(vacuum_by)

['Beko' 'Tefal' 'Electrolux' 'Samsung' 'Dyson']

In [159]:
#Data - Beko
beko_data = data_vacuum[data_vacuum.Marka.str.contains('Beko', case=False)]
beko_data.to_csv(path_or_buf=f"{DIR}beko_data.csv", index=False)

In [160]:
#Data - Tefal
tefal_data = data_vacuum[data_vacuum.Marka.str.contains('Tefal', case=False)]
tefal_data.to_csv(path_or_buf=f"{DIR}tefal_data.csv", index=False)

In [161]:
#Data - Electrolux
electrolux_data = data_vacuum[data_vacuum.Marka.str.contains('Electrolux', case=False)]
electrolux_data.to_csv(path_or_buf=f"{DIR}electrolux_data.csv", index=False)

In [162]:
#Data - Samsung
samsung_data = data_vacuum[data_vacuum.Marka.str.contains('Samsung', case=False)]
samsung_data.to_csv(path_or_buf=f"{DIR}samsung_data.csv", index=False)

In [163]:
#Data - Dyson
dyson_data = data_vacuum[data_vacuum.Marka.str.contains('Dyson', case=False)]
dyson_data.to_csv(path_or_buf=f"{DIR}dyson_data.csv", index=False)